<div class="row">
  <div class="bloque valign-wrapper">
    <div class="col s12 m5 l5 center-align">
      <h1 class="title-p1">Marco Alvarez Tallada</h1>
        <p class="contenido-p3">
        La primera incursión en la programación fue con el lenguaje C++ eso ya mucho antes de ingresar a la universidad. 
        Y con el tiempo, tan solo fue en aumenta mi gusto por la programacion.  
        </p>
    </div>
    <div class="col pull-m1 m5 l5 center-align title-p2 hide-on-small-only">
      <img class="responsive-img imgp1" src="../../assets/Images/MarcoAlvarezTallada.png" alt="Marco-Alvarez-Tallada-Programador">
      <h5>Programador web</h5>
    </div>           
  </div>
      
    <div class="center-align">
    <button md-raised-button class="pulse">Mis trabajos <br>
    <i class="material-icons">arrow_downward</i></button>
    </div>
</div>
