<div class="container caja_completa">
  <div class="title-p2">
    <h3>He desarrollo...</h3>
  </div>
  <div class="row">
    <div class="caja_descripcion col m10">
      <!-- Las etiquetas y descripciones -->
      <div class="etiqueta ">
        Exp1: 2016- Sistema de optimizacion de ... en el ITFA. 
      </div>
      <div class="descripcion contenido-p3">
        Sistema de optimizacion de ... en el ITFA.
        Descripcion...
        ...
      </div>
      <div class="etiqueta">
        Exp2: 2017- Sistema ... en el IUT.
      </div>
      <div class="descripcion contenido-p3">
        Sistema ... en el IUT.
        Descripcion...
        ...
      </div>
      <div class="etiqueta">
        Exp3: 2017- ... :V
      </div>
      <div class="descripcion contenido-p3">
        Exp3: 2017- ... :V
        Descripcion...
        ...
      </div>
    </div>
    
      <div class="col m2">
          <div class="caja_barra center-block">
            <div class="barra center-block">  
            </div>
          </div>
      </div>
  </div>
    
</div>
